<div class="row">
  <div *ngFor="let prod of products" class="col-lg-4 col-md-6 col-sm-12">
    <div class="cardContainer inactive">
      <div class="card">
        <div class="side front">
          <div class="img" [ngStyle]="{ 'background-image': 'url(' + prod.Url + ')'}"></div>
          <div class="info">
            <h2>{{truncate(prod.Name,15)}}</h2>
            <p>{{truncate(prod.Description, 32)}}</p>
            <br>
            <p style="float: left;">Only {{prod.Count}} remaining</p>
            <h6 style="float: right;">{{prod.Price}} $</h6>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
