<div class="text-center">
  <h2 class="jumbotron">Add Categories</h2>
</div>
<br>

<div class="row justify-content-between">
  <div class="col-2">
    <button class="btn btn-default" type="button" (click)="showCategoryModal()">
      Add Category
    </button>
  </div>
  <div class="col-6">
    <div *ngFor="let cat of categories" class="alert alert-primary" role="alert">
      <div class="row">
        <div class="col-6">
          {{cat.Name}}
        </div>
        <div class="col-3">
          <div class="btn btn-danger">
            Delete <i class="fa fa-trash-o"></i>
          </div>
        </div>
        <div class="col-3">
          <div class="btn btn-default">
            Update <i class="fa fa-pencil-square-o"></i>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<app-modal modalId="newCategoryModal" modalTitle="Add Category" blocking=false closebtn=true>
  <form #categoryForm="ngForm" (ngSubmit)="onSubmit(categoryForm)">
    <input type="hidden" name="$key" #$key="ngModel" [(ngModel)]="categoryService.selectedCategory.$key">
    <div class="row">
      <div class="col-lg-12 col-md-12 col-sm-12 form-group">
        <label>Name</label>
        <input class="form-control" name="Name" #Name="ngModel" [(ngModel)]="categoryService.selectedCategory.Name" placeholder="Category Name"
          required>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-12 col-md-12 col-sm-12 form-group">
        <button class="btn btn-default" type="submit" [disabled]="!categoryForm.valid">
          <i class="fa fa-floppy-o"></i>
          Submit</button>
        <button class="btn btn-default" type="button" (click)="resetForm(categoryForm)">
          <i class="fa fa-repeat"></i>Reset
        </button>
      </div>
    </div>
  </form>
</app-modal>
