nav {
  background-color: #00a57e;
}

body,
a.navbar-brand {
  color: white;
}

.navbar-light .navbar-nav .nav-link{
  font-weight: 700;
}

.navbar-light .navbar-nav .nav-link.active {
  color: rgb(255, 255, 255);
  font-weight: 800;
}

.navbar-toggler-icon{
  color:  white;
  padding-top:  5px;
  background-image: url();
}

button.navbar-toggler{
  border-color: #ffffff;
}